[build-system]
requires = ["setuptools>=61.0", "wheel"]
build-backend = "setuptools.build_meta"

[tool.setuptools]
zip-safe = false

# Deshabilita mesonpy para numpy y scikit-learn
[tool.mesonpy]
backend = "setuptools"